body{
    background-image: url("background.gif");
    background-size: 100%;
    /* background: rgb(7, 29, 54); */
}
.container {
  width: auto;
  max-width: 500px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 300px;
}

.container-h1 {
  width: 100%;
  height: 80px;
  text-align: center;
}

.container-input {
  margin: 0%;
  padding: 2px 2px 5px 2px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

#input-item {
  width: 75%;
  height: 25px;
}

.button-add {
  width: 20%;
  height: 29px;
}

#container-list {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

#container-list li {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

